{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}

{% endblock %}

{% block content %}
<div id="sidebar">
<h3>Categories</h3>
<ul>
    <li {% if not category %}class="selected"{% endif %}>
        <a href="{% url 'eshop:product_list' %}">All</a>
    </li>
{% for c in categories %}
    <li {% if category.slug == c.slug %}class="selected"{% endif%}>
        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
    </li>
{% endfor %}
</ul>
</div>
<div id="main" class="product-list">
<h1>{% if category %}{{ category.name }}{% else %}{{ category.name }}{% endif%}</h1>
    {% for product in products %}
<div class="item">
 <h1><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h1><br>
<div style="width:30%;float:left;">
    <a href="{{ product.get_absolute_url }}">
    <img  src="{% if product.image %}{{ product.image.url }}
    {%else %}{% static 'img/test.jpg' %}{% endif %}"height="200" width="200"></a>
</div>

<div style="width:70%;float:right;">
    <p >{{ product.description|truncatewords:30|linebreaks }}</p><br>
    ${{ product.price }}
</div>

 <h3 style="text-align:right;"><a href="{{ product.get_absolute_url }}">Details</a></h3>
</div>

    <div class="container" style="width:90%;">


  <table class="table table-hover">
    <thead>
      <tr>
        <th>Location</th>
        <th>Basin</th>
        <th>Price</th>
          <th>Duration</th>
          <th>Number of People</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{product.location}}</td>
        <td>{{product.basin}}</td>
        <td>{{product.price}}</td>
          <td>{{product.stock}}</td>
          <td>{{product.stock}}</td>
      </tr>
    </tbody>
  </table>
</div>


{% endfor %}

</div>


{% endblock %}