{% load static %}


<html>
<head>
<meta charset="utf-8" />
<title>{% block title %}Geo-Adventure{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
       <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'css/base.css'%}" rel="stylesheet">

</head>
<body>

    <div class="container-fluid">


	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-pills">
				<li class="active">

                   <a href="/" class="logo">HOME</a>
				</li>
				<li>
					<a href="#">About us</a>
				</li>


			</ul>
			<div class="jumbotron well">
				<h1>
				<i>	<span style="color:white;"> Geo-Adventure</span></i>
				</h1>


			</div>

{% block content %}
{% endblock %}
	</div>

			</div>

</div>
</body>
</html>